In [1]:
import pandas as pd 

data = pd.read_csv('Extinct languages - DATA SUMMARY.csv')

/var/folders/gl/l6pb7jfx42l02zc9950kh3fh0000gn/T/ipykernel_5723/1631123883.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
data

     Name in English  Number of speakers Degree of endangerment
0      South Italian             7500000             Vulnerable
1           Sicilian             5000000             Vulnerable
2          Low Saxon             4800000             Vulnerable
3         Belarusian             4000000             Vulnerable
4            Lombard             3500000  Definitely endangered
...              ...                 ...                    ...
2534          |'Auni                   0                Extinct
2535            |Xam                   0                Extinct
2536         ǁKu ǁ'e                   0                Extinct
2537          ǁKx'au                   0                Extinct
2538          ǁXegwi                   0                Extinct

[2539 rows x 3 columns]

In [40]:
data.loc[7]

Name in English                Gondi
Number of speakers           2713790
Degree of endangerment    Vulnerable
Country/Region
LatLng
Name: 7, dtype: object

In [41]:
# data.iloc[0, 3] = ['Salento, Italy', 'Calabria, Italy', 'Sicily, Italy', 'Campania, Italy']
# data.iloc[0, 4] = ['40.39419137452559, 17.963600660528844', '39.21416005602436, 16.537916008812285', '37.516227931820026, 14.345347283418377', '40.92014500456253, 14.986523067820155']

data.at[0, 'Country/Region'] = ['Salento, Italy', 'Calabria, Italy', 'Sicily, Italy', 'Campania, Italy']
data.at[0, 'LatLng'] = ['40.39419137452559, 17.963600660528844', '39.21416005602436, 16.537916008812285', '37.516227931820026, 14.345347283418377', '40.92014500456253, 14.986523067820155']

data.at[1, 'Country/Region'] = ['Sicily, Italy', 'Calabria, Italy', 'Apulia, Italy']
data.at[1, 'LatLng'] = ['37.516227931820026, 14.345347283418377', '39.21416005602436, 16.537916008812285', '41.118686073813706, 16.305896215476736']

data.at[2, 'Country/Region'] = ['Netherlands, northwestern Germany', 'southern Denmark']
data.at[2, 'LatLng'] = ['52.165845449170654, 5.4496583209294815', '52.962838169929235, 8.205301857132776', '55.199844947118876, 9.077417189268257']

data.at[3, 'Country/Region'] = ['Belarus']
data.at[3, 'LatLng'] = '53.574198585592775, 28.147495124123935'

data.at[4, 'Country/Region'] = ['Lombardy, Italy', 'Piedmont, Italy', 'South Tyrol, Italy', 'Trentino, Italy', 'Grisons, Switzerland', 'Ticino, Switzerland', 'Santa Catarina, Brazil']
data.at[4, 'LatLng'] = ['45.66139176678368, 9.63227911823771', '45.01805632528342, 7.687020797919262', '46.68598171644191, 11.412589180055472', '46.1238049982629, 11.099939496230027', '46.70364951869676, 9.625764392545706', '46.24799575694668, 8.822916907755756', '-27.103445178016358, -50.60440492276544']

data.at[5, 'Country/Region'] = ['Romania', 'Bulgaria', 'North Macedonia', 'Slovakia']
data.at[5, 'LatLng'] = ['45.9265107008262, 25.096806021387128', '42.58697312857569, 25.09051711347847', '41.68037836433533, 21.659217608349277', '48.736472499923366, 19.323017931230854']

data.at[6, 'Country/Region'] = ['Israel']
data.at[6, 'LatLng'] = ['30.964512492275226, 34.911527479070514']

data.at[7, 'Country/Region'] = ['Madhya Pradesh, India', 'Maharashtra, India', 'Chhattisgarh, India', 'Andhra Pradesh, India', 'Telangana, India']
data.at[7, 'LatLng'] = ['23.51668077101653, 78.6826448207132', '19.324648813790514, 75.22760358923988', '21.292723167751706, 81.98707478511837', '14.919637211506634, 79.21777918866634', '17.928676985304467, 79.07595393942451']

data.at[8, 'Country/Region'] = []
data.at[8, 'LatLng'] = []

data.at[9, 'Country/Region'] = []
data.at[9, 'LatLng'] = []

data.at[10, 'Country/Region'] = []
data.at[10, 'LatLng'] = []

data.at[11, 'Country/Region'] = []
data.at[11, 'LatLng'] = []

data.at[12, 'Country/Region'] = []
data.at[12, 'LatLng'] = []



data

,Name in English,Number of speakers,Degree of endangerment,Country/Region,LatLng
0,South Italian,7500000,Vulnerable,"[Salento, Italy, Calabria, Italy, Sicily, Ital...","[40.39419137452559, 17.963600660528844, 39.214..."
1,Sicilian,5000000,Vulnerable,"[Sicily, Italy, Calabria, Italy, Apulia, Italy]","[37.516227931820026, 14.345347283418377, 39.21..."
2,Low Saxon,4800000,Vulnerable,"[Netherlands, northwestern Germany, southern D...","[52.165845449170654, 5.4496583209294815, 52.96..."
3,Belarusian,4000000,Vulnerable,[Belarus],"53.574198585592775, 28.147495124123935"
4,Lombard,3500000,Definitely endangered,"[Lombardy, Italy, Piedmont, Italy, South Tyrol...","[45.66139176678368, 9.63227911823771, 45.01805..."
...,...,...,...,...,...
2534,|'Auni,0,Extinct,,
2535,|Xam,0,Extinct,,
2536,ǁKu ǁ'e,0,Extinct,,
2537,ǁKx'au,0,Extinct,,
2538,ǁXegwi,0,Extinct,,